body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #02010a5b; /* Light blue background */
    color: #333;
    line-height: 1.6;
}

.nav-tabs {
    background-color: #1febeb5b; /* Royal Blue */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-tabs .nav-item .nav-link {
    color: rgb(66, 122, 13);
    margin-right: 5px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: #0c4668; /* Dodger Blue */
    color: white;
}

.nav-tabs .nav-link:hover {
    background-color: #6495ED; /* Cornflower Blue */
    color: white;
}

section {
    margin-bottom: 40px;
    padding: 25px;
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #4169E1; /* Royal Blue */
    margin-bottom: 20px;
}

h3 {
    color: #1E90FF; /* Dodger Blue */
    border-bottom: 2px solid #4169E1;
    padding-bottom: 10px;
    margin-top: 30px;
}

p {
    margin-bottom: 15px;
}

b {
    color: #4682B4; /* Steel Blue */
}

hr {
    border: 1px solid #4169E1; /* Royal Blue */
    margin: 25px 0;
}

.back-button, #topBtn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4169E1; /* Royal Blue */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: fixed;
    bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.back-button {
    left: 20px;
}

#topBtn {
    right: 20px;
}

.back-button:hover, #topBtn:hover {
    background-color: #1E90FF; /* Dodger Blue */
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    section {
        padding: 15px;
    }

    p {
        font-size: 14px;
    }

    h1 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    .nav-tabs {
        display: flex;
        flex-wrap: wrap;
    }

    .nav-tabs .nav-item {
        flex: 1 0 50%;
        margin-bottom: 5px;
    }

    .back-button, #topBtn {
        bottom: 10px;
        padding: 8px 16px;
        font-size: 14px;
    }

    .back-button {
        left: 10px;
    }

    #topBtn {
        right: 10px;
    }
}